<footer class="footer bg-dark text-light   p-2 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Contact us: <a href="mailto:mostaphyasser18@gmail.com" class="text-light"><i class="fas fa-envelope"></i> mostaphyasser18&#64;gmail.com</a></p>
      </div>
      <div class="col-md-3 mb-4">
        <h5>Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light"><i class="fas fa-question-circle"></i> FAQ</a></li>
          <li><a href="#" class="text-light"><i class="fas fa-undo"></i> Returns</a></li>
          <li><a href="#" class="text-light"><i class="fas fa-shipping-fast"></i> Shipping</a></li>
          <li><a href="#" class="text-light"><i class="fas fa-phone"></i> Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-4">
        <h5>Product Categories</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light"><i class="fas fa-tv"></i> Electronics</a></li>
          <li><a href="#" class="text-light"><i class="fas fa-tshirt"></i> Clothing</a></li>
          <li><a href="#" class="text-light"><i class="fas fa-home"></i> Home & Garden</a></li>
          <li><a href="#" class="text-light"><i class="fas fa-football-ball"></i> Sports & Outdoors</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled social-icons d-flex ">
          <li class="mr-3"><a href="#" class="text-light"><i class="fab fa-facebook-f m-2"></i></a></li>
          <li class="mr-3"><a href="#" class="text-light"><i class="fab fa-twitter m-2"></i></a></li>
          <li class="mr-3"><a href="#" class="text-light"><i class="fab fa-instagram m-2"></i></a></li>
        </ul>
        <h5>Newsletter</h5>
        <form class="form-inline">
          <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Your email">
          <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">&copy; 2024 Your Website. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>