.navbar-nav .nav-item .nav-link.active {
    color: #ffcc00;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s, background-color 0.3s; 
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff; 
  }
  .light{
    scale:1.2;
    font-weight: bold;    
  }
  .numberOfItems{
    position: absolute;
    top:-10%;
    right:25%;
    font-weight: bold;    
  }.numberOfItems {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
  }