.text-success{
color: rgb(82, 255, 82);
}
.card {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

.star{ 
    padding: 5px;
    font-weight: 500;
    font-size: 15px;  

}
.rating{
    width: 100%;
    color: gold;
    font-size: 30px;
    /* margin-top: 15px; */
    text-align: center;
}
.price{
    padding-top: 0;
    margin-top: 0;
    font-size: 20px;
    font-weight: 800;
}
.head{
    margin: 0;
    padding: 0;
}
i{
    font-size: 10px;
}
