/* Custom Styles */
.text-success {
    color: rgb(82, 255, 82);
  }
  
  .card {
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Ensure no overflow outside the card */
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card-img-top {
    object-fit: cover; 
    height: 220px;
  }
  
 
  
  .price {
    padding-top: 0;
    margin-top: 0;
    font-size: 20px;
    font-weight: 800;
  }
  
  .head {
    margin: 0;
    padding: 0;
  }
  
  i {
    font-size: 10px;
  }
  
  .filter-container {
    position: sticky; 
    top: 0; 
    height: 100vh;
    overflow-y: auto; /
    background-color: #f8f9fa; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }
  
  .filter h2 {
    padding: 1rem;
    background-color: #e9ecef; 
    margin-bottom: 0;
  }
  
  .filter .list-group-item {
    border: none; 
  }
  
  .filter .btn-link {
    color: #0000; 
    font-weight: 400; 
  }
  
  .filter .list-group-item:hover {
    background-color:  rgba(0, 0, 0, 0.1); 
    color: white; 
    
  }
  
  @media (max-width: 768px) {
    .col-sm-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .card {
      margin: 10px 0;
    }
  
    .card-img-top {
      height: 150px;
    }
  }
  
  @media (min-width: 769px) {
    .card {
      margin: 20px;
    }
  }